<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML CSS Summerize</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="/css">
</head>
<body>
    <nav>
        <!-- ul>li*5>a -->
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="banner"></div>
    <!-- div.cards>h2+div.cards-container>div*3>div.card-head+div.card-content -->
    <div class="cards">
        <h2>Contact</h2>
        <form method="GET" action="/contact">
            <input placeholder="first name" type="text" name="fname" id="">
            <br>
            <input placeholder="last name" type="text" name="lname" id="">
            <br>
            <input placeholder="email" type="email" name="email" id="">
            <br>
            <textarea placeholder="message" name="message" id="" cols="30" rows="10"></textarea>
            <br>
            <input type="submit" value="send">
        </form>
    </div>
    <div class="footer">
        <div class="section">
            <div class="logo-container">
                <img src="/image1" alt="">
            </div>
            <div class="contact-container">
                <ul>
                    <li><a href="#" ><i class="fas fa-envelope-square"></i>  info@digitalcareerinstitute.org</a></li>
                    <li><a href="#" ><i class="fas fa-phone-square-alt"></i> 015211336008</a></li>
                    <li><a href="https://www.digitalcareerinstitute.org" ><i class="fas fa-globe-asia"></i>  https://www.digitalcareerinstitute.org</a></li>
                </ul>
            </div>

        </div>
        <div class="section">
            <ul class = 'social'>
                <li><a href="#"><i class="fab fa-facebook-square"></i> Facebook</a></li>
                <li><a href="#"><i class="fab fa-twitter"></i>  Twitter</a></li>
                <li><a href="#"><i class="fab fa-youtube"></i>  youtube</a></li>
            </ul>
        </div>
        <div class="section">
            <div class="input-container">
                <input type="text" placeholder="Name">
            </div>
            <div class="input-container">
                <input type="text" placeholder="Subject">
            </div>
            <div class="input-container">
                <textarea  cols="30" rows="10" placeholder="Message"></textarea>
            </div>
            <button class="footer-btn">Send</button>
        </div>
    </div>
</body>
</html>