<footer>
    <div>
        <h3><%=footerName%></h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, impedit error quas sit, ut iure quod nemo fuga unde ea fugiat modi delectus nesciunt quia odio! Modi eaque minus possimus.</p>
    </div>
</footer>