*{
    margin: 0;
    padding: 0;
}
#container{
    width: 500px;
    height: 500px;
    background-color: deepskyblue;
    position: relative;
}
.ball{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: firebrick;
    border-radius: 50px;
}