<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="usernameInp" placeholder="username">
    <br>
    <input type="password" name="" id="passInp" placeholder="password">
    <br>
    <button id="register">register</button>
    <script>
        document.querySelector('#register').addEventListener('click', e => {
            e.preventDefault()
            const username = document.querySelector('#usernameInp')
            const password = document.querySelector('#passInp')
            if (username.value.trim() && password.value &&  username.value.trim().length > 5) {
                const sentObj = {
                    username:username.value.trim(),
                    password:password.value
            }
            fetch('/register',{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(sentObj)
                }).then(response =>{
                    if (response.status === 200) {
                        response.json().then(data =>{
                            if (data === 1) {
                                alert('you are register sucesufully')
                                username.value = ''
                                password.value = ''
                            }else{
                                if (data === 3){
                                    alert('user is exist ')

                                } else {
                                    alert('something went wrong please try again later')

                                }
                                
                            }

                        }).catch(error =>{
                            alert('unknown response from server')
                        })
                    }else{
                        alert('can not send data') 
                    }

                }).catch (error => {
                    alert('can not send data')
                })
            } else {
                alert('fill the inputs please')
            }
            
            
        })
    </script>
</body>
</html>