<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about me</title>
</head>
<body>
    this is a shared content
    <h2>About Me</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In perspiciatis at tempora magni iure voluptas, exercitationem necessitatibus beatae ex dignissimos delectus consequatur dolores quo totam illo suscipit dolorum rem sunt!</p>
    <a href="/home">Go home</a>
</body>
</html>