<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css">
</head>
<body> 
    this is a shared content
    <div>
        <h2>you are at home</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis excepturi molestiae quo eligendi perspiciatis cupiditate soluta aperiam, incidunt, eveniet a porro sunt temporibus architecto ullam beatae recusandae libero dolor iste.</p>
        <a href="/about">About me</a>
    </div>
</body>
</html>
